@font-face {
    font-family: Montserrat;
        src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Raleway;
        src: url(../fonts/Raleway/Raleway-Regular.ttf);
}

body {
    width: 1920px;
    margin: 0 auto;
    background-color: #000000;
    box-sizing: border-box;
}

.header-wrp {
    background-image: url(../img/bg_photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 150px;
}

.header-logoAndNav {
    display: flex;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 181px;
    margin: 0 219px 0 226px;
    text-decoration: none;
    color: #fff;
    }

.logo-svg {
    fill: currentColor;
}

.logo-txt {
    font-family: Raleway;
    font-size: 34px;
    font-weight: 400;
    text-align: right;
}

.logo:hover{
    color: #998675;
}

.logo:active {
    opacity: 0.4;
}

.header-nav {
    display: flex;
    justify-content: start;
    width: 100%;
    margin: auto 0;
}

.header-nav-list {
    display: flex;
    justify-content: space-between;
    width: 632px;
    list-style-type: none;
    margin: 0;
    padding: 0 63px 0 0;
}

.header-nav-list-item {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 2;
    font-weight: 300;
    color: #ffffff;
}

.header-nav-list-item-active {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 2;
    font-weight: 300;
    color: #c7b299;
}

.header-nav-list-item:hover,
.header-nav-list-item-active:hover,
.header-nav-icon-package:hover,
.header-nav-icon-search-form:hover {
    opacity: 0.5;
}

.header-nav-list-item:active,
.header-nav-list-item-active:active,
.header-nav-icon-package:active {
    opacity: 0.2;
}

.header-nav-icon-package {
    width: 18px;
    height: 24px;
    margin: -2px 28px 0 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: inherit;
    background-image: url(../img/icon_cart.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: #ccc;
}

.header-nav-icon-search-form {
    width: 24px;
    height: 24px;
    margin: -2px 0 0 0;
    position: relative;
}

.header-nav-icon-search-form-label {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/icon_search.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}

.header-nav-icon-search-form-input {
    width: 0;
    min-height: 0;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 40px;
    left: -120px;
    color: #c7b299;
    font-size: 16px;
    text-transform: capitalize;
}

.header-nav-icon-search-form-input:focus {
    width: 365px;
    min-height: 20px;
    transition: width 1s ease;
    border: 2px solid #fff;
    border-radius: 20px;
}

.header-slider {
    width: 100%;
}

.header-slider-arrowsInfo-wpr {
    display: flex;
    justify-content: space-between;
    padding: 285px 0;
}

.header-slider-arrowLeft,
.header-slider-arrowRight {
    position: relative;
    display: block;
    margin: auto 0;
    width: 40px;
    height: 73px;
}

.header-slider-arrowLeft:hover,
.header-slider-arrowRight:hover {
    opacity: 0.5;
}

.header-slider-arrowLeft:active,
.header-slider-arrowRight:active {
    opacity: 0.2;
}

.header-slider-arrowLeft:before {
    display: block;
    width: 40px;
    height: 73px;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-image: url(../img/arrow_left.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-slider-info {
    display: flex;
    flex-wrap: wrap;
    width: 590px;
    margin: 0 auto;
}

.header-slider-info-h2 {
    display: block;
    margin: 0 auto 14px;
    text-align: center;
    font-family: Raleway;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
}

.header-slider-info-h1 {
    display: block;
    margin: 0 auto 19px;
    text-align: center;
    font-family: Raleway;
    font-size: 52px;
    line-height: 1.2;
    font-weight: 800;
    color: #ffffff;
}

.header-slider-info-p {
    display: block;
    margin: 0 auto 52px;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
}

.header-slider-info-btn {
    display: block;
    border-radius: 5px;
    width: 170px;
    margin: 0 auto;
    background-color: #998675;
    text-decoration: none;
    text-align: center;
    padding: 21px;
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #ffffff;
}

.header-slider-info-btn:hover {
    box-shadow: 3px 3px 18px 1px rgba(0,0,0,0.79);
}

.header-slider-info-btn:active {
    box-shadow: none;
}

.header-slider-arrowRight::before {
    display: block;
    width: 40px;
    height: 73px;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-image: url(../img/arrow_right.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-slider-pagination {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100px;
}

.header-slider-pagination-circle {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 30px;
    background-color: #969393;
    opacity: 0.7;
}

.header-slider-pagination-circle-active {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 40px;
    border: 3px solid #969393;
    margin: -3px 0 0 0;
}

.header-slider-pagination-circle:hover,
.header-slider-pagination-circle-active:hover {
    opacity: 0.5;
}

.header-slider-pagination-circle:active,
.header-slider-pagination-circle-active:active {
    opacity: 0.2;
}

.content {

}

.services-wrp {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 80px 376px;
}

.service-direction {
    width: 266px;
    min-height: 213px;
    text-align: center;
}

.service-direction:hover .service-direction-svg {
    fill: #c7b299;
}

.service-direction:hover .service-direction-title {
    color: #c7b299;
}

.service-direction:hover .service-direction-p::after {
    background-color: #c7b299;
}

.service-direction:active {
    outline: 1px solid #c7b299;
}

.service-direction-svg {
    fill: #555555;
    fill-rule: evenodd;
}

.service-direction-title {
    display: block;
    margin: 15px auto;
    font-family: Raleway;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.service-direction-p {
    position: relative;
    margin: 0;
    font-family: Montserrat;
    font-size: 13px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
}

.service-direction-p::after {
    content: "";
    display: block;
    width: 70px;
    height: 4px;
    background-color: #f1eee9;
    position: absolute;
    bottom: -30px;
    left: 96px;
}

.demstration-wrp {
    background-color: #fbfaf8;
    text-align: center;
}

.demonstration-title {
    display: block;
    padding: 83px 0 24px 0;
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.demonstration-p {
    display: block;
    width: 757px;
    min-height: 43px;
    margin: 0 auto;
    font-family: Montserrat;
    font-size: 15px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
}

.demonstration-landscape-wrp {
    margin: 40px 0 0 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.demonstration-landscape-first-img {
    position: absolute;
    bottom: 0px;
    left: 345px;
    z-index: 1;
}

.demonstration-landscape-center-img {
    margin: 0 auto;
    z-index: 2;
}

.demonstration-landscape-last-img {
    position: absolute;
    bottom: 0px;
    right: 345px;
    z-index: 1;
}

.advertising {
    display: flex;
    justify-content: space-between;
    padding: 48px 376px;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    background-size: 100%;
}

.advertising-name-company {
    font-family: Raleway;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #c7b299;
}

.advertising-title {
    font-family: Raleway;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}

.advertising-p {
    margin: 8px 0;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    color: #615855;
}

.advertising-btn {
    width: 170px;
    height: 50px;
    background-color: #998675;
    border: none;
    outline: none;
    border-radius: 3.0px;
    font-family: Raleway;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
}

.advertising-btn:hover {
    box-shadow: 3px 3px 18px 1px rgba(0,0,0,0.79);
}

.advertising-btn:active {
    box-shadow: none;
}
